# Ignorar todos los .js compilados
*.js
!jest.config.jest

# Pero SI incluir todos los .js en src/ y scripts/
!src/**/*.js
!scripts/**/*.js

# TypeScript
*.d.ts

# Dependencies
node_modules
# Pero ignorar específicamente el node_modules de layers
src/layers/**/node_modules

# CDK
.cdk.staging
cdk.out

# Environment
.env
.env.local
config.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage/
.nyc_output/

# Documentation
doc/

.env
